<ol>
	<li><h2>And here is the result</h2>

<p>
	Base url: <strong><%= @from_url%></strong>
</p>

<p>
	Response code: <strong><%= @response.code %></strong>
</p>

<p>
	Response body:
	<pre><%= h @response.body %></pre>
	</p>
</li>

<% form_tag "/commands/execute" do %>
<%= hidden_field_tag 'url', @from_url %>
<li><h2>Choose an action</h2>
	<p>Prepare to execute an action with your resource:</p>
	<p>
			<select name="command">
				<% @possible_states.each do |state| %>
					<option value=<%= state %> ><%= state %></option>
				<% end %>
			</select><br/>
	</p>
</li>
<li><h2>Add an optional content to your request</h2>
	<p>
		Content: <textarea name="parameter_value" style="width: 400px; height: 100px;"></textarea>
	</p>
</li>
<li><h2>Execute it</h2>
	<p>
		<%= submit_tag 'execute' %>
	</p>
</li>
<% end %>

<li><h2>Or try another resource</h2>
	<p>
		<% form_tag "/commands/show_rels" do %>
			url: <%= text_field_tag 'url' %>
			<%= submit_tag 'view available actions' %>
		<% end %>
	</p>
</li>
</ol>