<ol>
	<li><h2>Response received:</h2>
		<p>
			<pre><%= h @xml %></pre>
			</p>
	</li>
	<% form_tag "/commands/execute" do %>
	<%= hidden_field_tag 'url', @from_url %>
	<li><h2>Choose an action</h2>
		<p>Prepare to execute an action with your resource:</p>
		<p>
				<select name="command">
					<% @possible_states.each do |state| %>
						<option value=<%= state %> ><%= state %></option>
					<% end %>
				</select><br/>
		</p>
	</li>
	<li><h2>Add an optional parameter to your request</h2>
		<p>
			Name: <input name="parameter_name" value="" /><br/>
			Content: <textarea name="parameter_value" style="width: 400px; height: 100px;"></textarea>
		</p>
	</li>
	<li><h2>Execute it</h2>
		<p>
			<%= submit_tag 'execute' %>
		</p>
	</li>
	<% end %>
</ol>
